<%- include('partials/header') -%>

<main class="container mx-auto py-8">
    <div class="flex justify-around">
        <a href="/login"><button class="btn btn-primary btn-wide">Login</button></a>
        <a href="/signup"><button class="btn btn-primary btn-wide">Signup</button></a>
    </div>
</main>


<%- include('partials/footer') -%>