<%- include('partials/header') -%>

<main class="container">
    <div class="login-buttons">
        <a href="/login" class="btn btn-accent btn-outline"> Login</a>
        <a href="/signup" class="btn btn-accent btn-outline"> Signup</a>
    </div>
</main>


<%- include('partials/footer') -%>