/******************************************
/* FONTS
/*******************************************/


/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/

#entries {
    list-style-type: none;
    overflow: hidden;
}

.entry {
    border: 2px solid #000;
    border-radius: .5rem;
    overflow: hidden;
    padding: 1rem;
}

.timeStamp {
    font-size: .75rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
